<extend name="Public:BaseTP" />

<block name="head">
    <title>出库管理</title>
    
    <link rel="stylesheet" type="text/css" href="/Public/easyui/1.4.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/Public/easyui/1.4.2/themes/icon.css">
    
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px 30px;
        }
        .ftitle{
            font-size:14px;
            font-weight:bold;
            color:#666;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
        .fitem{
            margin-bottom:5px;
        }
        .fitem label{
            display:inline-block;
            width:120px;
        }
    </style>
</block>

<block name="body">
	
	
	<!-- 整个页表管理 -->
    <div style="margin-left:10px; margin-right:10px; margin-top:10px;">
        <table id="dg_user" title="出库管理" style="width:100%; height:500px;" class="easyui-datagrid"
                url="{$RURL}"
                toolbar="#toolbar" pagination="true"
                rownumbers="true" fitColumns="true" singleSelect="true">
            <thead>
                <tr>
                    <th field="id" width="20">ID</th>
                    <th field="pid" width="100">商品编码</th>
					<th field="name" width="100">商品名称</th>
                    <th field="did" width="100">派货单编号</th>
                    <th field="ctnper" width="50">规格</th>
                    <th field="ctnnum" width="50">箱数</th>
                    <th field="fraction" width="50">散件数</th>
					<th field="price" width="50">单价</th>
                    <th field="count" width="50">总件数</th>
					<th field="cost" width="50">总费用</th>
                    <th field="createdate" width="100">出货日期</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">添加</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeUser()">删除</a>
        </div>
    </div>

    <div id="dlg" class="easyui-dialog"
        style="width: 520px; height: 470px; padding: 10px 20px" closed="true"
        buttons="#dlg-buttons">
        <div class="ftitle">出库记录编辑</div>
        <form id="fm" method="post">
            <div class="fitem">
                <label>商品编码</label> <input id="pid" name="pid" class="easyui-validatebox" required="true">
            </div>
			<div class="fitem">
                <label>商品名称</label> <input id="pname" name="name" class="easyui-validatebox" readonly="readonly">
            </div>
            <div class="fitem">
                <label>派货单编号</label> <input id="did" name="did" class="easyui-validatebox">
            </div>
            <div class="fitem">
                <label>规格</label> <input id="ctnper" name="ctnper" class="easyui-validatebox">
            </div>
			<div class="fitem">
                <label>箱数</label> <input id="ctnnum" name="ctnnum" class="easyui-validatebox" >
            </div>
			<div class="fitem">
                <label>散件数</label> <input id="fraction" name="fraction" class="easyui-validatebox" >
            </div>
			<div class="fitem">
                <label>单价</label> <input id="price" name="price" class="easyui-validatebox">
            </div>
			<div class="fitem">
                <label>总件数</label> <input id="count" name="count" class="easyui-validatebox" readonly="readonly">
            </div>
			<div class="fitem">
                <label>总费用</label> <input id="cost" name="cost" class="easyui-validatebox" readonly="readonly">
            </div>
			
            <div class="fitem">
                <label>出货日期</label> <input id="createdate" name="createdate" class="easyui-validatebox" readonly="readonly">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUser()">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
    </div>
    
    
    
    
    
    
    <script src="/Public/easyui/1.4.2/jquery.easyui.min.js"></script>
	
    <script type="text/javascript">
    	
		//////////////////////////////////////////////////////////////////////////////
        $("#pid").on('input', function(){
            id = $(this).val();
            $.get('/index.php/Product/getNameByID?id='+id, function(data){
                if(data.status){
                    $("#pname").val(data.name);
                }else{
                    $("#pname").val("商品不存在！");
                }
                
            }, 'json');
            
        });
		
		$("#fm input").blur(function(){
            per = parseInt($("#ctnper").val());
            num = parseInt($("#ctnnum").val());
            fraction = parseInt($("#fraction").val());
            price = parseFloat($("#price").val());
            
            cost = (per*num+fraction)*price;
			cost = cost.toFixed(2);
            $("#cost").val(cost);
            $("#count").val(per*num+fraction);
            
            console.info("cost="+cost);
            
        });
		
		
		
		////////////////////////////////////////////////////////////////////////////////////
    
        var url;
        function newUser(){
            $('#dlg').dialog('open').dialog('setTitle','添加');
            $('#fm').form('clear');
            url = '{$CURL}';
        }
        function editUser(){
            var row = $('#dg_user').datagrid('getSelected');
            if (row){
                $('#dlg').dialog('open').dialog('setTitle','编辑');
                $('#fm').form('load',row);
                url = '{$UURL}?id='+row.id;
            }
        }
        function saveUser(){
            $('#fm').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                    console.info(result);
                    var result = eval('('+result+')');
                    if (result.success){
                        $('#dlg').dialog('close');      // close the dialog
                        $('#dg_user').datagrid('reload');    // reload the user data
                    } else {
                        $.messager.show({
                            title: 'Error',
                            msg: result.msg
                        });
                    }
                }
            });
        }
        function removeUser(){
            var row = $('#dg_user').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm','你确定要删除此条信息吗？',function(r){
                    if (r){
                        $.get('{$DURL}?id=' + row.id,function(result){
                            if (result.success){
                                $('#dg_user').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.show({   // show error message
                                    title: 'Error',
                                    msg: result.msg
                                });
                            }
                        },'json');
                    }
                });
            }
        }
    </script>
</block>