<extend name="Public:BaseTP" />

<block name="head">
    <title>我要派单</title>
    
    <link rel="stylesheet" type="text/css" href="/Public/easyui/1.4.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/Public/easyui/1.4.2/themes/icon.css">
    
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px 30px;
        }
        .ftitle{
            font-size:14px;
            font-weight:bold;
            color:#666;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
        .fitem{
            margin-bottom:5px;
        }
        .fitem label{
            display:inline-block;
            width:120px;
        }
    </style>
</block>

<block name="body">
	
	<div style="margin-left: 10px; margin-bottom: 10px;">
        <button type="button" class="btn btn-primary" onclick="new_dispatch()">新建配货单</button>
        <button type="button" class="btn btn-primary" onclick="submit_dispatch()">完成配货单并打印</button>
        <button type="button" class="btn btn-primary" onclick="print_dispatch()">打印配货单</button>
    </div>
	
	
	
	
	
	<!-- 派货单管理 -->
    <div id="dispatch_box" style="margin-left:10px; margin-right:10px;">
        <table id="dg_user" title="派货单" style="width:100%; height:500px;"  class="easyui-datagrid"
		        url="{$RURL}"
                toolbar="#toolbar" pagination="true"
                rownumbers="true" fitColumns="true" singleSelect="true">
            <thead>
                <tr>
                    <th field="id" width="20">ID</th>
                    <th field="pid" width="100">商品编码</th>
                    <th field="name" width="100">商品名称</th>
                    <!-- <th field="did" width="100">派货单编号</th> -->
                    <th field="ctnper" width="50">规格</th>
                    <th field="ctnnum" width="50">箱数</th>
                    <th field="fraction" width="50">散件数</th>
                    <th field="price" width="50">单价</th>
                    <th field="count" width="50">总件数</th>
                    <th field="cost" width="50">总费用</th>
                    <th field="createdate" width="100">出货日期</th>
                </tr>
            </thead>
        </table>
		<div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">添加</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeUser()">删除</a>
        </div>
		
		
		<div id="dlg" class="easyui-dialog"
	        style="width: 520px; height: 470px; padding: 10px 20px" closed="true"
	        buttons="#dlg-buttons">
	        <div class="ftitle">出库记录编辑</div>
	        <form id="fm" method="post">
	            <div class="fitem">
	                <label>商品编码</label> <input id="pid" name="pid" class="easyui-validatebox" required="true">
	            </div>
	            <div class="fitem">
	                <label>商品名称</label> <input id="pname" name="name" class="easyui-validatebox" readonly="readonly">
	            </div>
				<!--
	            <div class="fitem">
	                <label>派货单编号</label> <input id="did" name="did" class="easyui-validatebox">
	            </div>
				-->
	            <div class="fitem">
	                <label>规格</label> <input id="ctnper" name="ctnper" class="easyui-validatebox">
	            </div>
	            <div class="fitem">
	                <label>箱数</label> <input id="ctnnum" name="ctnnum" class="easyui-validatebox" >
	            </div>
	            <div class="fitem">
	                <label>散件数</label> <input id="fraction" name="fraction" class="easyui-validatebox" >
	            </div>
	            <div class="fitem">
	                <label>单价</label> <input id="price" name="price" class="easyui-validatebox">
	            </div>
	            <div class="fitem">
	                <label>总件数</label> <input id="count" name="count" class="easyui-validatebox" readonly="readonly">
	            </div>
	            <div class="fitem">
	                <label>总费用</label> <input id="cost" name="cost" class="easyui-validatebox" readonly="readonly">
	            </div>
	            
	            <div class="fitem">
	                <label>出货日期</label> <input id="createdate" name="createdate" class="easyui-validatebox" readonly="readonly">
	            </div>
	        </form>
	    </div>
		<div id="dlg-buttons">
	        <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUser()">保存</a>
	        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
	    </div>
		
        
		
		<div id="dlg_new_dispatch" class="easyui-dialog"
	        style="width: 520px; height: 200px; padding: 10px 20px" closed="true"
	        buttons="#dlg-buttons2">
	        <div class="ftitle">生成</div>
			
	        <div>
	            <label>派货人员</label><select id="user-list">
	            	<?php
                    $rows = M('user')->select();
	            	for ($i= 0;$i< count($rows); $i++){ 
				        $row= $rows[$i]; 
				        echo '<option value="'.$row['id'].'">'.$row['name'].'</option>'; 
				    }
	                
					?>
	            </select>
	        </div>
	    </div>
	    <div id="dlg-buttons2">
	        <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="NewGenerate()">生成</a>
	        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg_new_dispatch').dialog('close')">取消</a>
	    </div>
		
		
    </div>
    
    
    
    <script type="text/javascript" src="/Public/easyui/1.4.2/jquery.easyui.min.js"></script>
    <script type="text/javascript">
    	///////////////////////////////////////////////////////////////////////////////
		// pad(1, 2) return '01'
		function pad(num, n) {
            var len = num.toString().length;
            while(len < n) {
                num = '0' + num;
                len++;
            }
            return num;
        }
		
		(function(){
		  Date.prototype.Format = function(format){ 
			var o = { 
				"M+" : this.getMonth()+1, //month 
				"d+" : this.getDate(), //day 
				"h+" : this.getHours(), //hour 
				"m+" : this.getMinutes(), //minute 
				"s+" : this.getSeconds(), //second 
				"q+" : Math.floor((this.getMonth()+3)/3), //quarter 
				"S" : this.getMilliseconds() //millisecond 
			} 
			
			if(/(y+)/.test(format)) { 
			    format = format.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
			} 
			
			for(var k in o) { 
				if(new RegExp("("+ k +")").test(format)) { 
				    format = format.replace(RegExp.$1, RegExp.$1.length==1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length)); 
				} 
			} 
			return format; 
		  }
		})();
        
        ///////////////////////////////////////////////////////////////////////////////
		function new_dispatch(){
			dis = $("#dispatch_box").css("display");
			
			if(dis == 'none'){
				$('#dlg_new_dispatch').dialog('open');
			}else{
				if(confirm("你确定要删除当前派货单，并重新生成新的？")){
					$("#dispatch_box").css("display", 'none');
					
					//do somethings
					
					$('#dlg_new_dispatch').dialog('open');
				}
			}
			

		}
		
		function submit_dispatch(){
			did = $("#dg_user").attr('uuid');
			if (did == null || did == "") {
				alert("请先创建派货单！");
				return ;
			}
			
			on = confirm("你确定要完成派货单？");
			if(on == false) return;
			
			$.get("/index.php/Dispatch/FinishCache?did="+did,function(data){
				if (data.success) {
					console.info(data);
				}else{
					alert(data.msg);
				}
			}, 'json');
		}
		
		function print_dispatch(){
			
		}
		
		function NewGenerate() {
			$('#dlg_new_dispatch').dialog('close');
			
			uid = pad($('#user-list').val(), 2);
			
			uuid = uid + (new Date().Format("yyyyMMddhhmmss"));
			
			
			$("#dg_user").attr('uuid', uuid);
			$(".panel-title").html("订单编号: " + $("#dg_user").attr('uuid'));
			
			
			$("#dispatch_box").css("display", 'block');
			
			$('#dg_user').datagrid('reload');
		}
		
		
		
		//////////////////////////////////////////////////////////////////////////////
        $("#pid").on('input', function(){
            id = $(this).val();
            $.get('/index.php/Product/getNameByID?id='+id, function(data){
                if(data.status){
                    $("#pname").val(data.name);
                }else{
                    $("#pname").val("商品不存在！");
                }
                
            }, 'json');
            
        });
        
        $("#fm input").blur(function(){
            per = parseInt($("#ctnper").val());
            num = parseInt($("#ctnnum").val());
            fraction = parseInt($("#fraction").val());
            price = parseFloat($("#price").val());
            
            cost = (per*num+fraction)*price;
            cost = cost.toFixed(2);
            $("#cost").val(cost);
            $("#count").val(per*num+fraction);
            
            console.info("cost="+cost);
            
        });
		
		
	    ///////////////////////////////////////////////////////////////////////////////
        var url;
        function newUser(){
            $('#dlg').dialog('open').dialog('setTitle','添加');
            $('#fm').form('clear');
            url = '{$CURL}';
        }
        function editUser(){
            var row = $('#dg_user').datagrid('getSelected');
            if (row){
                $('#dlg').dialog('open').dialog('setTitle','编辑');
                $('#fm').form('load',row);
                url = '{$UURL}?id='+row.id;
            }
        }
        function saveUser(){
            $('#fm').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                    console.info(result);
                    var result = eval('('+result+')');
                    if (result.success){
                        $('#dlg').dialog('close');      // close the dialog
                        $('#dg_user').datagrid('reload');    // reload the user data
                    } else {
                        $.messager.show({
                            title: 'Error',
                            msg: result.msg
                        });
                    }
                }
            });
        }
		
		
        function removeUser(){
            var row = $('#dg_user').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm','你确定要删除此条信息吗？',function(r){
                    if (r){
                        $.get('{$DURL}?id=' + row.id,function(result){
                            if (result.success){
                                $('#dg_user').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.show({   // show error message
                                    title: 'Error',
                                    msg: result.msg
                                });
                            }
                        },'json');
                    }
                });
            }
        }
		
		////////////////////////////////////////////////////////////////////////////////////////////
		$(function(){
			$('#dispatch_box').css('display', 'none');
		});
    </script>
</block>