<extend name="Public:BaseTP" />

<block name="head">
	<title>首页</title>
	
	<style type="text/css">
		*{ padding: 0; margin: 0; } 
        //div{ padding: 4px 48px;} 
        body{ background: #fff; font-family: "微软雅黑"; color: #333;} 
        h1{ font-size: 100px; font-weight: normal; margin-bottom: 12px; } 
        p{ line-height: 1.8em; font-size: 36px } a,a:hover,{color:blue;}
	</style>
	
</block>

<block name="body">
	<div style="padding: 24px 48px;"> 
		<h1>:)</h1>
		<p>欢迎使用 <b>本系统</b>！</p><br/>
		版本 V{$Think.version}
	</div>
</block>