<extend name="Public:BaseTP" />

<block name="head">
	<title>总库存查询</title>
	
	<link rel="stylesheet" type="text/css" href="/Public/easyui/1.4.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/Public/easyui/1.4.2/themes/icon.css">
    
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px 30px;
        }
        .ftitle{
            font-size:14px;
            font-weight:bold;
            color:#666;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
        .fitem{
            margin-bottom:5px;
        }
        .fitem label{
            display:inline-block;
            width:120px;
        }
    </style>
</block>

<block name="body">
	<div style="width:100%; padding-left:10px; padding-right:10px; margin-bottom:10px;">
		<table style="width:100%">
			<tr>
				<td style="width:260px;"><label>商品编号</label><input id="sid"></td>
				<td style="width:260px;"><label>商品名称</label><input id="sname"></td>
				<td style="width:260px;"><label>现存数量</label><input id="snum"></td>
				<td><button onclick="search()">查询</button></td>
			</tr>
		</table>
	</div>
	<div style="width:100%; padding-left:10px; padding-right:10px;">
        <table id="dg_user" title="货品管理" class="easyui-datagrid" style="width:100%; height:500px;"
                url="{$RURL}"
                toolbar="#toolbar" 
				pagination="true"
                rownumbers="true" fitColumns="true" singleSelect="true">
            <thead>
                <tr>
					<th field="id" width="150">商品编号</th>
                    <th field="name" width="150">商品名称</th>
					<th field="count" width="150">现存数量</th>
                </tr>
            </thead>
        </table>
		<?php if(session("level") == 0){ ?>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">添加</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeUser()">删除</a>
        </div>
		<?php } ?>
    </div>

    <div id="dlg" class="easyui-dialog"
        style="width: 400px; height: 280px; padding: 10px 20px" closed="true"
        buttons="#dlg-buttons">
        <div class="ftitle">User Information</div>
        <form id="fm" method="post">
            <div class="fitem">
                <label>商品编号</label> <input name="id" class="easyui-validatebox" required="true">
            </div>
            <div class="fitem">
                <label>商品名称</label> <input name="name" class="easyui-validatebox" required="true">
            </div>
			<div class="fitem">
                <label>现存数量</label> <input name="count" class="easyui-validatebox" required="true">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUser()">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
    </div>
    
    
    
    
    
    
    <script type="text/javascript" src="/Public/easyui/1.4.2/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        ////////////////////////////////////////////////////////////////////////////////////
		function search(){
			where = "";
			url =  '{$RURL}';
			
			sid = $("#sid").val();
			sname = $("#sname").val();
			snum = $("#snum").val();
			
			//这是为了避免以%传参时，若后面是数字，解析时将发生转义,此时用*代替%
			if(sid != ""){
				where += '(id like "*'+sid+'*")';
			}
			
			if(sname != ""){
				if(where != "") where += " and ";
				where += '(name like "*'+sname+'*")';
			}
			
			if(snum != ""){
				if(where != "") where += " and ";
				if(snum[0] != '>' || snum[0] != '=' || snum[0] != '<') snum = ">=" + snum;
                where += '(count '+snum+')';
			}
			
			url += where == "" ? "" : '?where='+where;
			
			console.info(url);
			
			$('#dg_user').datagrid({'url':url});
		}
		
		
		////////////////////////////////////////////////////////////////////////////////////
        var url;
        function newUser(){
            $('#dlg').dialog('open').dialog('setTitle','添加');
            $('#fm').form('clear');
            url = '{$CURL}';
        }
        function editUser(){
            var row = $('#dg_user').datagrid('getSelected');
            if (row){
                $('#dlg').dialog('open').dialog('setTitle','编辑');
                $('#fm').form('load',row);
                url = '{$UURL}?id='+row.id;
            }
        }
        function saveUser(){
            $('#fm').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                    console.info(result);
                    var result = eval('('+result+')');
                    if (result.success){
                        $('#dlg').dialog('close');      // close the dialog
                        $('#dg_user').datagrid('reload');    // reload the user data
                    } else {
                        $.messager.show({
                            title: 'Error',
                            msg: result.msg
                        });
                    }
                }
            });
        }
        function removeUser(){
            var row = $('#dg_user').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm','你确定要删除此条信息吗？',function(r){
                    if (r){
                        $.get('{$DURL}?id=' + row.id,function(result){
                            if (result.success){
                                $('#dg_user').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.show({   // show error message
                                    title: 'Error',
                                    msg: result.msg
                                });
                            }
                        },'json');
                    }
                });
            }
        }
    </script>
</block>