<extend name="Public:BaseTP" />

<block name="head">
	<title>系统设置</title>
</block>

<block name="body">
	<button style="width:160px;" class="btn btn-defualt btn-primary">系统更新</button>
	
	
	
	
	<script>
		function SystemUpdate(){
			on = confirm("你确定要升级？");
			if(!on) return ;
			
			$.get("")
		}
	</script>
</block>