<extend name="Public:BaseTP" />

<block name="head">
    <title>用户管理</title>
    
    <link rel="stylesheet" type="text/css" href="/Public/easyui/1.4.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/Public/easyui/1.4.2/themes/icon.css">
    
    <style type="text/css">
        #fm{
            margin:0;
            padding:10px 30px;
        }
        .ftitle{
            font-size:14px;
            font-weight:bold;
            color:#666;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
        .fitem{
            margin-bottom:5px;
        }
        .fitem label{
            display:inline-block;
            width:120px;
        }
    </style>
</block>

<block name="body">
    <div style="width:100%; padding-left:10px; padding-right:10px;">
        <table id="dg_user" title="用户管理" class="easyui-datagrid" style="width:100%; height:500px;"
                url="{$RURL}"
                toolbar="#toolbar" pagination="true"
                rownumbers="true" fitColumns="true" singleSelect="true">
            <thead>
                <tr>
                    <th field="id" width="20">ID</th>
                    <th field="name" width="100">登录名</th>
					<th field="fullname" width="100">实用名</th>
					<th field="phone" width="100">电话</th>
					<th field="email" width="100">邮箱</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">添加</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeUser()">删除</a>
        </div>
    </div>

    <div id="dlg" class="easyui-dialog"
        style="width: 400px; height: 280px; padding: 10px 20px" closed="true"
        buttons="#dlg-buttons">
        <div class="ftitle">User Information</div>
        <form id="fm" method="post">
            <div class="fitem">
                <label>登录名</label> <input name="name" class="easyui-validatebox" required="true">
            </div>
            <div class="fitem">
                <label>实用名</label> <input name="fullname" class="easyui-validatebox" required="true">
            </div>
			<div class="fitem">
                <label>电话</label> <input name="phone" class="easyui-validatebox" required="true">
            </div>
            <div class="fitem">
                <label>邮箱</label> <input name="email" class="easyui-validatebox">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUser()">Save</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
    </div>
    
    
    
    
    
    
    <script type="text/javascript" src="/Public/easyui/1.4.2/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        $(function(){
			
        });
    
        var url;
        function newUser(){
            $('#dlg').dialog('open').dialog('setTitle','添加');
            $('#fm').form('clear');
            url = '{$CURL}';
        }
        function editUser(){
            var row = $('#dg_user').datagrid('getSelected');
            if (row){
                $('#dlg').dialog('open').dialog('setTitle','编辑');
                $('#fm').form('load',row);
                url = '{$UURL}?id='+row.id;
            }
        }
        function saveUser(){
            $('#fm').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                    console.info(result);
                    var result = eval('('+result+')');
                    if (result.success){
                        $('#dlg').dialog('close');      // close the dialog
                        $('#dg_user').datagrid('reload');    // reload the user data
                    } else {
                        $.messager.show({
                            title: 'Error',
                            msg: result.msg
                        });
                    }
                }
            });
        }
        function removeUser(){
            var row = $('#dg_user').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm','你确定要删除此条信息吗？',function(r){
                    if (r){
                        $.get('{$DURL}?id=' + row.id,function(result){
                            if (result.success){
                                $('#dg_user').datagrid('reload');    // reload the user data
                            } else {
                                $.messager.show({   // show error message
                                    title: 'Error',
                                    msg: result.msg
                                });
                            }
                        },'json');
                    }
                });
            }
        }
    </script>
</block>